{% extends 'master.html' %}

{% block head %}
    <title>Delete {{ object.name | capfirst }}</title>
{% endblock %}

{% block body %}
    <h4 class="text-center my-2">Coupon</h4>
    <div class="my-3 d-flex justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'main:coupon.index' %}">Coupon</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete {{ object.name }}</li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="row mt-3 justify-content-center">

            <form method="post" class="col-lg-3 col-md-4 col-sm-5 col-12 ">
                {% csrf_token %}
                <div class="card bg-light">
                    <p class="card-header">Are you sure you want to delete "{{ object }}"?</p>
                    {{ form }}
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>


            </form>
        </div>
    </div>
{% endblock %}

