<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% with request.path as url_name %}
                    <li class="nav-item ">
                        <a class="{% if url_name == '/my/admin/dashboard/' %} active {% endif %} nav-link"
                           aria-current="page"
                           href="{% url 'main:dashboard' %}">Dashboard</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Basic Module
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'main:category.index' %}">Category</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:variation.index' %}">Variation</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:collection.index' %}">Collection</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:brand.index' %}">Brand</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:type.index' %}">ProductType</a></li>
                            <li><a class="dropdown-item" href="#">UserDeliveryCharge</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:coupon.index' %}">Coupon</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="{% if '/my/admin/product/' in url_name %} active {% endif %} nav-link"
                           aria-current="page"
                           href="{% url 'main:product.index' %}">Product</a>
                    </li>
                {% endwith %}

            </ul>
        </div>
    </div>
</nav>
