{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% block head %}
    {% if request.resolver_match.kwargs.pk %}
        <title>Edit {{ object.name | capfirst }}</title>
    {% else %}
        <title>Create Type</title>
    {% endif %}
{% endblock %}

{% block body %}
    <h4 class="text-center my-2">Type</h4>
    <div class="my-3 d-flex justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'main:type.index' %}">Type</a></li>
                {% if request.resolver_match.kwargs.pk %}
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">Edit {{ object.name }}</li>
                {% endif %}

            </ol>
        </nav>
        <a href="{% url 'main:type.index' %}" class="btn btn-success">All Type</a>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form |crispy }}

            {% if  request.resolver_match.kwargs.pk %}
                <button class="btn btn-success" type="submit">Update</button>
                <a class="btn btn-danger" href="{% url 'main:type.delete' request.resolver_match.kwargs.pk %}">Delete</a>
            {% else %}
                <button class="btn btn-success" type="submit">Create</button>
            {% endif %}
        </form>
    </div>
{% endblock %}

